
<h1>Is your business missing from this directory? Please fill out this form:</h1>
<form method='post' action="/addBusiness">
  <label for="name">Business Name</label>
  <br>
  <input type="text" name="name">
  <br>
  <label for="naics_code">NAICS Code</label>
  <br>
  <input type="text" name="naics_code">
  <br>
  <label for="products_services">Products and Services</label>
  <br>
  <input type="text" name="products_services">
  <br>
  <label for="certification_number">Certification Number</label>
  <br>
  <input type="text" name="certification_number">
  <br>
  <label for="certification_date">Certification Date</label>
  <br>
  <input type="text" name="certification_date">
  <br>
  <label for="minority_group">Minority Group</label>
  <br>
  <input type="text" name="minority_group">
  <br>


  <label for="address">Address</label>
  <br>
  <input type="text" name="address">
  <br>
  <label for="city">City</label>
  <br>
  <input type="text" name="city">
  <br>
  <label for="county">County</label>
  <br>
  <input type="text" name="county">
  <br>
  <label for="state">State</label>
  <br>
  <input type="text" name="state">
  <br>
  <label for="zip">ZIP Code</label>
  <br>
  <input type="text" name="zip">
  <br>
  <label for="contact">Contact Person</label>
  <br>
  <input type="text" name="contact">
  <br>
  <label for="phone_phone_number">Phone Number</label>
  <br>
  <input type="text" name="phone_phone_number">
  <br>
  <label for="contact_email_address">Email Address</label>
  <br>
  <input type="text" name="contact_email_address">
  <br>
  <label for="website_url">Website</label>
  <br>
  <input type="text" name="website_url">
  <br>
  <label for="fax_phone_number">Fax Number</label>
  <br>
  <input type="text" name="fax_phone_number">
  <br>
  <input id="submit-button" type="submit" value="Submit">
</form>
